body {
  font-family: Helvetica, sans-serif;
}

/* Searchbar.js */

.symptoms-box {
  display: flex;
  width: 60vw;
  justify-content: space-around;
}

.react-autosuggest__container {
  position: relative;
  width: 40%;
}

.react-autosuggest__input {
  width: 100%;
  height: 50px;
  padding: 10px 20px;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

.react-autosuggest__input--focused {
  outline: none;
}

.react-autosuggest__input--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  display: none;
}

.react-autosuggest__suggestions-container--open {
  display: block;
  position: absolute;
  top: 49px;
  width: 100%;
  height: 230px;
  overflow: scroll;
  border: 1px solid #aaa;
  background-color: #fff;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestions-list {
  padding: 0;
  list-style-type: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding: 10px 20px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #ddd;
}


/* SelectedSymptoms.js */

.selected-symptoms-container {
  font-family: Helvetica, sans-serif;
  font-weight: 300;
  width: 52.5%;
  height: 280px;
  font-size: 20px;
  background-color: #eef4f7;
  border-radius: 4px;
  padding: 10px;
}

.selected-symptoms-container h5 {
  color: #544c56;
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-weight: 300;
}

.selected-symptoms-list {
  list-style-type: none;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 5px;
  height: 90%;
}

.selected-symptoms-list-item {
  background-color: white;
  margin: 2.5px;
  padding: 5px 40px 5px 10px;
  position: relative;
  box-shadow: 0px 1px 2px 0px #868387;
}

.fa-times-circle {
  position: absolute;
  top: 25%;
  right: 3.5%;
  cursor: pointer;
}

.selected-symptoms-container button {
  float: right;
  font-size: 20px;
  position: relative;
  padding: 10px 40px 10px 30px;
}

.fa-chevron-right {
  position: absolute;
  top: 27.5%;
  right: 12.5%;
}
